.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav-items {
  list-style: none;
  display: flex;
  color: #deebf8;
}
.nav-items > li {
  padding: 10px;
}
.main-ul > li::marker {
  color: #61dafb;
}
.nav-logo {
  width: 120px;
}
nav > img {
  margin-right: 7px;
}
.nav-logoname {
  margin-right: auto;
  color: #61dafb;
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
}
main {
  color: white;
}
/* body{
    background-color: #282d35;
} */
.find {
  height: 30px;
}
.home {
  display: flex;
}
.productContainer {
  display: flex;
  width: 85%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 10px;
  height: 86vh;
}
.filters > span {
  padding-bottom: 20px;
}
.title {
  font-size: 30px;
}
.products {
  width: 20%;
  margin: 10px;
}
.shopName {
  font-size: 30px;
  color: gold;
}

.logo {
  text-decoration: none;
}
.login {
  text-decoration: none;
  color: white;
}
.login:hover {
  color: white;
  opacity: 0.8;
}
.viewProductImage {
  padding: 3;
  border: solid 1px grey;
  max-width: 500px;
  max-height: 500px;
  margin: 10;
}
